<!DOCTYPE html>
<html lang="zxx" dir="ltr">


<!-- Mirrored from htmldemo.net/hmart/hmart/login.html by HTTrack Website Copier/3.x [XR&CO'2014], Thu, 09 May 2024 13:12:24 GMT -->

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hmart</title>
    <meta name="robots" content="index, follow" />
    <meta name="description" content="Hmart-Smart Product eCommerce html Template">
    <!-- Favicon -->
    <link rel="shortcut icon" type="image/x-icon" href="assets/images/favicon.ico" />
    <!-- CSS
    ============================================ -->
    <link rel="stylesheet" href="assets/css/bootstrap.min.css" />
    <link rel="stylesheet" href="assets/css/font.awesome.css" />
    <link rel="stylesheet" href="assets/css/pe-icon-7-stroke.css" />
    <link rel="stylesheet" href="assets/css/animate.min.css">
    <link rel="stylesheet" href="assets/css/swiper-bundle.min.css">
    <link rel="stylesheet" href="assets/css/venobox.css">
    <link rel="stylesheet" href="assets/css/jquery-ui.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/pe-icon-7-stroke/1.2.0/pe-icon-7-stroke.min.css">
    <!-- Style CSS -->
    <link rel="stylesheet" href="assets/css/style.css">
    <!-- Minify Version -->
    <!-- <link rel="stylesheet" href="assets/css/plugins.min.css">
    <link rel="stylesheet" href="assets/css/style.min.css"> -->
    <style>
        .amount {
            font-family: 'Roboto', 'Arial', 'Tahoma', 'DejaVu Sans', sans-serif;
        }

        /* category old new new-price*/
        .category {
            font-family: 'Roboto', 'Arial', 'Tahoma', 'DejaVu Sans', sans-serif;
        }

        .old {
            font-family: 'Roboto', 'Arial', 'Tahoma', 'DejaVu Sans', sans-serif;
        }

        .new {
            font-family: 'Roboto', 'Arial', 'Tahoma', 'DejaVu Sans', sans-serif;
        }

        .new-price {
            font-family: 'Roboto', 'Arial', 'Tahoma', 'DejaVu Sans', sans-serif;
        }

        .product-subtotal {
            font-family: 'Roboto', 'Arial', 'Tahoma', 'DejaVu Sans', sans-serif;
        }
    </style>


